<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @silver_and_abofe.customer_id %>
</p>

<p>
  <strong>Creditline:</strong>
  <%= @silver_and_abofe.creditline %>
</p>

<%= link_to 'Edit', edit_silver_and_abofe_path(@silver_and_abofe) %> |
<%= link_to 'Back', silver_and_aboves_path %>
