<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @computer.product_id %>
</p>

<p>
  <strong>Cputype:</strong>
  <%= @computer.cputype %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
