<%= simple_form_for(@shippingaddress) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <%= f.input :customer_id , :as => "hidden", :input_html => { :value => current_customer.id ,:readonly => true} %>
   
    <%= f.input :saname %>
    <%= f.input :recepientname %>
    <%= f.input :street %>
    <%= f.input :snumber %>
    <%= f.input :city %>
    <%= f.input :zip %>
    <%= f.input :state %>
    <%= f.input :country,:as => :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
