<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @appears_in.cart_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @appears_in.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @appears_in.quantity %>
</p>

<p>
  <strong>Pricesold:</strong>
  <%= @appears_in.pricesold %>
</p>

<%= link_to 'Edit', edit_appears_in_path(@appears_in) %> |
<%= link_to 'Back', appears_ins_path %>
