<%= simple_form_for(@offerproduct) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_id %>
    <%= f.input :offerprice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
